<footer class="footer footer-center p-10 bg-black text-primary-content">
  <div>
    <p>
      <span class="font-bold">Service Marketplace</span> is a platform for truck drivers to find the best service for their trucks.
    <p>
      Service Marketplace
    </p> 
    <p>Copyright © 2023 - All right reserved || This is a sample web application for portfolio</p>
  </div> 
  <div>
    
  </div>
</footer>