<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/output.css">
</head>
<body>
    <header>
        <%- include('../components/header.ejs') %>

    </header>
    <main>

      <%- body %>
    </main>
    <footer>
      <%- include('../components/footer.ejs') %>
    </footer>
</body>
</html>